/* App layout */

:root {
	--bg-color: #1c1c1c;
	--default-font: Arial;
}

pre {
	    font-family:  var(--default-font) !important;
}


html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
    color: #fff;
	    font-family:  var(--default-font) !important;
    background-color: #282a36;
}
* {
    font-variant-ligatures: none;
}

#editor {
    flex-grow: 1;
    margin-top: -3px;
    overflow: auto;
}

.CodeMirror-line:hover {
	background-color:  gray  !important;
}

#controls,
#copy,
footer {
    background-color: #3b3b47;
    z-index: 10;
}

#progress {
    min-height: 3px;
    background: #ff79c6;
    z-index: 15;
    width: 0;
}

.hidden,
select,
#copy:not(.hidden) + #controls,
body.readonly .hide-readonly,
body:not(.readonly) .show-readonly,
body.readonly:not(:hover) #footer {
    display: none;
}

#copy-link {
	    font-family:  var(--default-font) !important;
    width: 100%;
}

/* Styling */
.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 10px;
}
.shadow-top {
    box-shadow: rgba(0, 0, 0, 0.15) 0 -3px 10px;
}
a,
a:hover,
a:active,
a:focus {
    color: #fff;
    outline: none;
}
#controls a,
#footer a {
    text-decoration: none;
}
#controls a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.CodeMirror {
    height: 100%;
	    font-family:  var(--default-font) !important;
}
h1 {
	    font-family:  var(--default-font) !important;
    white-space: nowrap;
}
.mono {
	    font-family:  var(--default-font) !important;
}
.pink {
    color: #ff79c6;
}

/* Modals */

.modal {
    display: none;
}
.modal.is-open {
    display: block;
}
.modal-content {
    background-color: #3b3b47;
    max-width: 600px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}
.modal-content .additional-info {
    opacity: 0.75;
    font-style: italic;
    margin-top: 15px;
    font-size: 0.95em;
}
.modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form elements */

#controls .ss-main {
    width: 180px;
}

.ss-main .ss-single-selected,
button,
input[type='text'],
input[type='search'] {
    background-color: #3b3b47 !important;
    color: #fff !important;
    border-radius: 6px !important;
    border: 0px #ccc !important;
    font-family:  var(--default-font);
    height: 26px !important;
}

input::-webkit-search-cancel-button {
    display: none;
}
input::-moz-selection {
    background-color: rgba(90, 95, 128, 0.99);
}
input::selection {
    background-color: rgba(90, 95, 128, 0.99);
}
button {
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.ss-content {
    background-color: #282936;
    color: #dedede;
    font-size: 14px;
}
.ss-content .ss-disabled {
    background-color: #3b3b47 !important;
}

